extends layout

block content
  a(href='/logout', class='logout') Logout
  h1.title Projects
  link(rel='stylesheet', href='../public/stylesheets/style.css')
  a(href='/my-projects', class='custom-button', id="projects") My projects
  a(href='/part-of-projects', class='custom-button', id="projects") Projects I'm part of
  a(href='/archive', class='custom-button', id="projects") Archived projects
  