extends layout

block content
  .form-container 
    h2 Login
    form(action="/login", method="POST")
      div
        label(for='email') Email:<br />
        input(type='email', id='email', name='email', placeholder="Enter email", required)

      div
        label(for='password') Password:<br />
        input(type='password', id='password', name='password', placeholder="Enter password", required)

      div 
        a(href='/register', class='auth-link') Don't have an account yet?
      
      div 
        button(type='submit', class='custom-button' id="login") Login
